{% extends "header.html" %}
{% block head %}
<script type="text/javascript">
async function getDataByToken(){
    let url = 'http://127.0.0.1:8000/auth/data';
    let token = document.getElementById("token").value
    let response = await fetch(url, {
      headers: {
        Accept: 'application/json',
        Authorization: 'Bearer ' + token,
      },
      method: 'get',
    });
    let obj = document.getElementById("token");
    obj.style.display = "none";
    let obj1 = document.getElementById("entryButton");
    obj1.style.display = "none";
    let obj2 = document.getElementById("resetButton");
    obj2.style.display = "none";
    if (response.ok) {
      let json = await response.json();
      let full_name_msg = "<strong>Имя работника: &nbsp;</strong>" + json["full_name"];
      let current_salary_msg = "<strong>Текущая зарплата: &nbsp;</strong>" + json["current_salary"];
      let next_promotion_msg = "<strong>Дата повышения: &nbsp;</strong>" + json["next_promotion_date"];

      let div1 = document.getElementById('successDiv1');
      div1.innerHTML = full_name_msg;
      document.body.append(div1);

      let div2 = document.getElementById('successDiv2');
      div2.innerHTML = current_salary_msg;
      document.body.append(div2);

      let div3 = document.getElementById('successDiv3');
      div3.innerHTML = next_promotion_msg;
      document.body.append(div3);


    } else {
      let msg = "<strong>Ошибка HTTP: &nbsp;</strong>" + response.status +
      ". Введен невалидный токен";
      let div = document.getElementById('errorDiv');
      div.innerHTML = msg;

      document.body.append(div);
    }
}
</script>
{% endblock %}
{% block content %}
<body>
<h1 class="flex justify-center  text-6xl ">Информация</h1>
<div id="errorDiv" class="flex justify-center text-3xl"></div>
<div id="successDiv1" class="flex justify-center text-3xl my-2"></div>
<div id="successDiv2" class="flex justify-center text-3xl my-2"></div>
<div id="successDiv3" class="flex justify-center text-3xl my-2"></div>
<form class="my-20">
    <div class="flex justify-center flex-col items-center ">
        <input id="token" name="token" type="text" placeholder="Токен" class="text-4xl border 2px ">
    </div>
    <div class="flex justify-center gap-10 width-200px mt-7">
        <input id="entryButton"
               class="border-solid border-2 rounded bg-red-400 border-red-400 text-white text-xl"
               type="button" value ="Получить" onclick="getDataByToken()">
        <input id="resetButton"
               class="border-solid border-2 rounded bg-red-200 border-red-200 text-white text-xl"
               type="reset" value="Сбросить">


    </div>
</form>


</body>
{% endblock %}