<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>
    {% block head %}{% endblock %}
    <title>Проверка зарплаты</title>
    <link rel="icon" href="{{ url_for('image', path='favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <nav class="bg-[#ef4444] text-white flex justify-between text-3xl my-1">
        <ul class="flex ml-3">
            <li>Проверка зарплаты</li>
        </ul>
        <ul class="flex gap-5 mr-3 ">
            <a href="/">Главная</a>
            <a href="/users/token">Токен</a>
            <a href="/users/data">Зарплата</a>
        </ul>
    </nav>
    <hr>
{% block content %} {% endblock %}
</body>
</html>