{% extends "header.html" %}


{% block content %}
<h1 class="flex justify-center flex-col items-center text-6xl my-4">Главная страница</h1>
<h2 class="flex justify-center flex-col items-center text-3xl my-4">
    Сервис для отображения текущей зарплаты и даты повышения</h2>
<p class="flex justify-center text-2xl mt-10"><strong>Инструкция по работе с сайтом</strong></p>
<p class="flex justify-center flex-col items-center text-2xl  ">
    1)В разделе "Токен" получите токен по вашему логину и паролю<br>
    2)После авторизации вам будет выдан токен, который действителен 15 минут<br>
    3)Пока действует токен:<br>
    &nbsp;&nbsp;&nbsp;&nbsp;* Перейдите на вкладку "Зарплата"<br>
    &nbsp;&nbsp;&nbsp;&nbsp;* Введите валидный токен<br>
    &nbsp;&nbsp;&nbsp;&nbsp;* Получите информацию о зарплате и следующем повышении</p>
{% endblock %}
