{% extends "header.html" %}
{% block head %}
<script type="text/javascript">
async function getToken(){
    let url = 'http://127.0.0.1:8000/auth/token';
    let username = document.getElementById("username").value;
    let password = document.getElementById("password").value;
    let response = await fetch(url, {
      method: 'post',
      body: new FormData(formElem)
    });
    let obj = document.getElementById("username");
    obj.style.display = "none";
    let obj1 = document.getElementById("password");
    obj1.style.display = "none";
    let obj2 = document.getElementById("resetButton");
    obj2.style.display = "none";
    let obj3 = document.getElementById("entryButton");
    obj3.style.display = "none";
    if (response.ok) {
      let json = await response.json();
      let access_token_msg = "Ваш токен:<br>" + json["access_token"];

      let div = document.getElementById('successDiv');
      div.innerHTML = access_token_msg;
      document.body.append(div);

    } else {
      let msg = "<strong>Ошибка HTTP: &nbsp;</strong>" + response.status +
      ". Неверный логин или пароль";
      let div = document.getElementById('errorDiv');
      div.innerHTML = msg;

      document.body.append(div);
    }
}
</script>
{% endblock %}
{% block content %}
<body>
<h1 class="flex justify-center flex-col items-center text-6xl my-4">Страница для получения токена</h1>
<div id="successDiv" class="flex justify-center text-xl"></div>
<div id="errorDiv" class="flex justify-center text-3xl"></div>
<form id="formElem" class="my-20">
    <div class="flex justify-center flex-col items-center ">
        <input id="username" name="username" type="text" placeholder="Логин" class="text-4xl border 2px ">
        <input id="password" name="password" type="text" placeholder="Пароль" class="text-4xl border 2px my-4">
    </div>
    <div class="flex justify-center gap-10 width-200px ml-3">
        <input id="entryButton"
               class="border-solid border-2 rounded bg-red-400 border-red-400 text-white text-xl"
               type="button" value ="Получить" onclick="getToken()">
        <input id="resetButton"
               class="border-solid border-2 rounded bg-red-200 border-red-200 text-white text-xl"
               type="reset" value="Сбросить">


    </div>
</form>

</body>

{% endblock %}